.cardContainer {
  column-count: 2;
  column-gap: 1.25rem;
  margin: 1.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #82bef6;
  margin-bottom: 1.25rem;
  -webkit-column-break-inside: avoid;
  padding: 1.5rem;
  box-sizing: border-box;

  column-count: 1;
  column-gap: 1.5rem;
}

@media only screen and (min-width: 65.625em) {
  .main-cards {
    column-count: 2;
  }
}

.card:first-child {
  height: 485px;
}

.card:nth-child(2) {
  height: 200px;
}

.card:nth-child(3) {
  height: 265px;
}