.homeContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.125rem 1fr 3.125rem;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

@media only screen and (min-width: 46.875em) {
  .homeContainer {
    grid-template-columns: 15rem 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
}
